$tag_color: #387ef5 !default;
$tag_text_color: #fff !default;
$tag_input_background_color: #fff !default;
$tag_input_text_color: #000 !default;
$tag_input_icon_color: $tag_input_text_color !default;

div.item.ui-tag-input{
    padding: 6px 0 5px 0px;
    overflow-x: scroll;
    background-color: $tag_input_background_color;
}
div.ui-tag-input > tag-list div.tag-container{
    display: inline-block;
}
div.ui-tag-input > growing-input,
div.ui-tag-input > growing-input input{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    color: $tag_input_text_color;
}
div.growingInput > span.hiddenText{
    position: absolute;
    left: 0;
    height: 0;
    overflow: hidden;
}
div.tag-container pill{
    cursor: pointer;
}
div.tag-container pill>i{
    font-size: x-small;
}
div.ui-tag-input.withIcon div.tag-container{
    margin-left: 44px;
}
div.ui-tag-input div.tag-container{
    margin-left: 8px;
}
div.ui-tag-input > .icon {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 8px;
    top: 8px;
    text-align: center;
    color: $tag_input_icon_color !important;
}
div.ui-tag-input > .icon:before {
    transform: translateY(50%);
}
pill{
    margin-right: 4px;
    padding: 2px 4px;
    font-size: 90%;
    color: $tag_text_color;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25)
}
pill.ui-tag-input-pill{
    background-color: $tag_color;
    white-space: nowrap;
}
